.env
__pycache__/
.vscode/
fridge.pth
kettle.pth
washing_machine.pth
fridge_test.json
kettle_test.json
washing_test.json

app/nilm_ai_Engin/global_models/fridge.pth
app/nilm_ai_Engin/global_models/kettle.pth
app/nilm_ai_Engin/global_models/washing_machine.pth
House_2.csv
test_kettle_only.py
test.py
app/nilm_ai_Engin/user_models/7889e6d4-9136-4d14-9a47-d29c66d8334c_fridge.pth
app/nilm_ai_Engin/user_models/7889e6d4-9136-4d14-9a47-d29c66d8334c_kettle.pth
