<!DOCTYPE html>

<head>
    <meta charset="UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>About Us</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">
    <style>
        body{
            background-image: url('{{ url_for("static", filename="images/background.png") }}') !important;
        }
    </style>

</head>

<body class="about-page nav-page">
    <div class="layout-wrapper">

        {% include "navbar.html" %}
        <div class="page">

            <div class="about-container" style="position:relative;">
                <!-- Faculty Logo: top left -->
                <img src="static/images/FCAI.png" alt="Faculty Logo" class="header-logo logo-left">

                <img src="static/images/DU.png" alt="University Logo" class="header-logo logo-right">
                <h1 class="about-title">About Us</h1>
                <h3>
                    <p class="about-subtitle">Meet our supervisors and team members who drive our success:</p>
                </h3>
                <div class="about-top-team-row" >
                    <div class="about-top-frame">
                        <img src="static/images/tamer.jpg" alt="Supervisor">
                        <div class="about-top-name">Dr. Tamer Zakaria</div>
                        <div class="about-top-title">Project Supervisor</div>
                    </div>
                    <div class="about-top-frame">
                        <img src="static/images/wael.jpg" alt="Faculty Dean">
                        <div class="about-top-name">Prof. Wael Awad</div>
                        <div class="about-top-title">Faculty Dean</div>
                    </div>
                </div>
                <h2 class="about-section"><span>Team Members</span></h2>
                <div class="about-members-grid">
                    
                    <div class="about-member-card">
                        <img src="static/images/yousef.jpg" alt="Yousef Saad">
                        <div class="about-member-name">Yousef Saad</div>
                        <div class="about-member-role">Team Leader <br> IoT / Embedded Systems </div>
                    </div>
                    <div class="about-member-card">
                        <img src="static/images/ahmed.jpg" alt="Ahmed Elkhamisy">
                        <div class="about-member-name">Ahmed Elkhamisy</div>
                        <div class="about-member-role">Frontend Developer</div>
                    </div>
                    <div class="about-member-card">
                        <img src="static/images/abd_elmohsen.jpg" alt="Norhan Abd-Elmohsen">
                        <div class="about-member-name"> Norhan<br>Abd-Elmohsen</div>
                        <div class="about-member-role">Full Stack Development</div>
                    </div>
                    <div class="about-member-card">
                        <img src="static/images/monya.jpg" alt="Monya ElSerry">
                        <div class="about-member-name">Monya ElSerry</div>
                        <div class="about-member-role">Embedded Systems <br>3D Modeling</div>
                    </div>
                    <div class="about-member-card">
                        <img src="static/images/eissa.jpg" alt="Norhan Eissa">
                        <div class="about-member-name">Norhan Eissa</div>
                        <div class="about-member-role">Full Stack Development</div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>

</body>